<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>NLP Analysis App</title>
    <style>
        body {
  background-color: purple;
}
   .dropdown {list-style: none; background: white; padding: 5px; display: inline-block;border-radius:5px}
   .dropdown .btn {background: white; color:black;}


.next {
  background-color : white;
  color: black;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: white;
}

#next {
  position: fixed;
  bottom: 20px;
  right: 10px;
}

    </style>
</head>
<body>
<!---->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('gotoNextPage',page='/') }}">Upload/Download</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('gotoNextPage',page='functionality2') }}">Generate Corpus</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('gotoNextPage',page='functionality3') }}">Text Manipulation<span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{{ url_for('gotoNextPage',page='functionality4') }}">Statistical Analysis</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{{ url_for('gotoNextPage',page='functionality5') }}">Corpus Comparison</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{{ url_for('gotoNextPage',page='functionality6') }}">Action Chaining</a>
      </li>
    </ul>
    <span class="navbar-text">
      NLP ANALYSIS APP
    </span>
  </div>
</nav>
<script type="text/javascript">window.setTimeout("document.getElementById('replaceMessage').style.display='none';", 2000); </script>

<h3 style="color:white;text-align:center" id="replaceMessage"> {{replace_status}} </h3>


<script type="text/javascript">window.setTimeout("document.getElementById('deleteMessage').style.display='none';", 2000); </script>

<h3 style="color:white;text-align:center" id="deleteMessage"> {{deletion_status}} </h3>


<script type="text/javascript">window.setTimeout("document.getElementById('appendMessage').style.display='none';", 2000); </script>

<h3 style="color:white;text-align:center" id="appendMessage"> {{appened_status}} </h3>



<!----->
    <h1 style="text-align:center;font-family:'Montserrat', sans-serif;color:white;font-size:45px;margin-top:80px">Text Manipulation</h1>
<div style="margin-top:100px;margin-left:500px;margin-right:500px">

<div class="dropdown" style="margin-left:35px;margin-top:0px;margin-bottom:50px">
  <button class="btn btn-secondary dropdown-toggle" type="button" style="width:400px" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    SEE UPLOADED FILES
  </button>
  <div class="dropdown-menu" method="GET" aria-labelledby="dropdownMenuButton">
    {% for each in uploaded_files %}
        <option class="dropdown-item" value="{{each}}">{{each}}</option>
    {% endfor %}
  </div>
</div>

    <div class="dropdown" style="margin-left:45px;margin-top:0px;margin-bottom:50px">
  <button class="btn btn-secondary dropdown-toggle" type="button" style="width:400px" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    SEE GENERATED CORPUSES
  </button>
  <div class="dropdown-menu" method="GET" aria-labelledby="dropdownMenuButton">
      {% for each in generated_corpuses %}
    <option class="dropdown-item" value="{{each}}">{{each}}</option>
      {% endfor %}
  </div>
</div>

    <form action="/functionality3" method="POST" enctype="multipart/form-data">
      <div class="input-group mb-3">
  <div class="custom-file">
  </div>
  <div class="input-group mb-3" style="margin-left:40px">
  <div class="input-group-prepend" style="margin-left:0px;margin-right:-10px">
    <span class="input-group-text" id="basic-addon3">Files (space separated)</span>
  </div>
  <input type="text" class="form-control"  name="getFileNames" aria-describedby="basic-addon3">
</div>
        <div class="input-group-prepend", style="margin-left:35px;margin-right:0px">
    <span class="input-group-text" id="basic-addon3">Text</span>
  </div>
  <input type="text" class="form-control" name="text" aria-describedby="basic-addon3">
      </div>
  <div class="form-row align-items-center" style="width:500px;">
       <div class="col-md-3 ">
        <input type="text" class="form-control" value="text" name="replace_text" aria-describedby="basic-addon3">
    </div>
    <div class="col-md-3 ">
        <input type="submit" class="btn form-control" name="replace" value="Replace">
    </div>

    <div class="col-md-3">
        <input type="submit" class="btn form-control" name="delete" value="Delete">
    </div>
      <div class="col-md-3">
        <input type="submit" class="btn form-control" name="append" value="Append">
      </div>
  </div>
    </form>
<div id="next">
<button type="button" class="next" onclick="window.location.href='{{ url_for( 'gotoNextPage',page='functionality4') }}';">NEXT</button>
</div>
</div>
</body>
</html>