<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>NLP Analysis App</title>
    <style>
        body {
  background-color: purple;
}
   .dropdown {list-style: none; background: white; padding: 4px; display: inline-block;border-radius:5px}
   .dropdown .btn {background: white; color:black;}


.custom-control-label::before,
.custom-control-label::after {
top: .8rem;
width: 1.25rem;
height: 1.25rem;
}
</style>
</head>
<body>
<!---->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('gotoNextPage',page='index') }}">Upload/Download</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('gotoNextPage',page='functionality2') }}">Generate Corpus</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('gotoNextPage',page='functionality3') }}">Text Manipulation<span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{{ url_for('gotoNextPage',page='functionality4') }}">Statistical Analysis</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{{ url_for('gotoNextPage',page='functionality5') }}">Corpus Comparison</a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('gotoNextPage',page='functionality6') }}">Action Chaining</a>
      </li>
    </ul>
    <span class="navbar-text">
      NLP ANALYSIS APP
    </span>
  </div>
</nav>


<!----->
    <h1 style="text-align:center;font-family:'Montserrat', sans-serif;color:white;font-size:45px;margin-top:80px">Action Chaining</h1>
<div style="margin-top:100px;margin-left:500px;margin-right:500px">

<div class="dropdown" style="margin-left:35px;margin-top:0px;margin-bottom:10px">
  <button class="btn btn-secondary dropdown-toggle" type="button" style="width:400px" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    SEE UPLOADED FILES
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">File 1</a>
    <a class="dropdown-item" href="#">File 1</a>
    <a class="dropdown-item" href="#">File 1</a>
  </div>
</div>

<h4 style="text-align:center;font-family:'Montserrat', sans-serif;color:white;font-size:30px;margin-top:60px">Choose Functionalities</h4>

<div class="custom-control form-control-lg custom-checkbox" >
    <input type="checkbox" class="custom-control-input" id="functionality1">
    <label class="custom-control-label" for="functionality1" style="color:white">Functionality 1</label>
</div>

    <div class="custom-control form-control-lg custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="functionality2">
    <label class="custom-control-label" for="functionality2" style="color:white">Functionality 2</label>
</div>

    <div class="custom-control form-control-lg custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="functionality3">
    <label class="custom-control-label" for="functionality3" style="color:white">Functionality 3</label>
</div>

    <div class="custom-control form-control-lg custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="functionality4">
    <label class="custom-control-label" for="functionality4" style="color:white">Functionality 4</label>
</div>

    <div class="custom-control form-control-lg custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="functionality5">
    <label class="custom-control-label" for="functionality5" style="color:white">Functionality 5</label>
</div>

    <button type="submit" class="btn btn-light" style="margin-left:180px;margin-top:20px;width:160px;">Submit</button>


</div>
</body>
</html>